<!-- Contact Section -->
<section class="site-section contact-section next-section-indicator parallax" id="contact"  data-scrollax-parent="true">

  <!-- Parallax Contact Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/contact-image.webp" alt="Child with the hand on mouse at CoderDojo" loading="lazy"/>
  </div>

  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.data.contact.title }}</h1>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {{ site.data.contact.description }}
      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container">

      <!-- Contact Form -->
      <div class="col-md-8 col-md-push-2">
        <form id="sera-contact-form" action="https://formspree.io/{{ site.email }}" method="POST" class="contact-form container-fluid">
          <div class="col-md-12">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="col-md-12">
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div class="col-md-12">
            <input type="text" name="subject" placeholder="Betreff" />
          </div>
          <div class="col-md-12">
            <textarea name="message" rows="8" cols="40" placeholder="Nachricht"></textarea>
          </div>
          <div class="col-md-12 form-action">
            <button type="submit" class="button button-focus">Nachricht senden</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>