<!-- Events Section -->
<section class="site-section events-section">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Events Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.data.events.title }}</h1>
        <hr class="normal">
      </header>

      <!-- Events Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {% if site.data.events.description != null %} <p>{{ site.data.events.description }}</p> {% endif %}
      </div>

    </div>

    <!-- Events Tables Container -->
    <div class="row events-tables-container">
      <div class="events-tables-wrapper clearfix">
        {% for event in site.data.events.events-list %}
        <!-- Events Table -->
        <div class="col-md-4 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2" itemscope itemtype="http://schema.org/Event">
          <div class="events-table">

            <!-- Event Content -->
            <div class="event-content">
              <span>Wann</span>
              <p class="event-date">{{ event.event-date }}</p>
              <meta itemprop="name" content="{{ event.event-name }}" />
              <meta itemprop="startDate" content="{{event.event-startdate}}" />
              <meta itemprop="endDate" content="{{event.event-enddate}}" />
              <meta itemprop="description" content="{{site.description}}" />

              {% case event.event-type %}
                {% when "Offline" %}
                  <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
                  <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                  <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <meta itemprop="name" content="{{ event.event-place-name }}" />
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="streetAddress" content="{{ event.event-place-streetaddress }}" />
                      <meta itemprop="addressLocality" content="{{ event.event-place-addresslocality }}" />
                      <meta itemprop="postalCode" content="{{ event.event-place-postalcode }}" />
                      <meta itemprop="addressCountry" conent="{{ event.event-place-addresscountry }}" />
                    </div>
                  </div>
                {% when "Online" %}
                  <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode" />
                  <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                  <div itemprop="location" itemscope itemtype="http://schema.org/VirtualLocation">
                    <meta itemprop="name" content="{{ event.event-place-name }}" />
                    <meta itemprop="url" content="{{ event.event-url }}" />
                  </div>
                {% else %}
              {% endcase %}
              <hr class="normal">
              <span>Uhrzeit</span>
              <p class="event-time">{{ event.event-time }}</p>
              <hr class="normal">
              <span>Wo</span>
              <p class="event-place">{{ event.event-place }}</p>
            </div>

            <!-- Event Registration -->
            {% case event.event-type %}
            {% when "Offline" %}
              <div class="event-registration">
                <a href="{{ event.event-registration-url }}" target="_blank" class="button"><b>Anmeldung</b></a>
                {% if event.event-notebook-code != null %}
                <a href="{{ event.event-registration-url }}?discount={{ event.event-notebook-code }}" target="_blank" class="button"><b>Anmeldung</b> <br/>mit Notebook reservierung*</a>
                {% endif %}
              </div>
            {% else %}
              <div class="event-registration">
                <a href="{{ event.event-url }}" target="_blank" class="button"><b>Programm</b></a>
              </div>
            {% endcase %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% if site.data.events.note != null %}
    <!-- Section Note -->
    <div class="row">
  
        <!-- Section Note Content -->
        <div class="col-md-12 col-md-push-0 col-sm-12 section-content">
          <p>
           <i>{{ site.data.events.note }}</i>
          </p>
        </div>
  
    </div>
    {% endif %}

  </div>
</section>

<section class="event-location site-section next-section-indicator" id="main-event-place-map">

  <!-- Google Map Embed -->
  <div>
      <div style="overflow:hidden;height:490px;width:100%;">
          <div id="gmap_canvas" style="height:490px;width:100%;"></div>
      </div>
      <script type="text/javascript">
          function initMap () {
              var myOptions = {
                  zoom: 16,
                  scrollwheel: false,
                  center: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} ),
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
              marker = new google.maps.Marker({
                  map: map,
                  position: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} )
              });
              infowindow = new google.maps.InfoWindow({
                  content: "<span><strong>{{ site.map-text }}</strong><br>{{ site.map-text-location }}<br><span>"
              });
              google.maps.event.addListener(marker, "click", function() {
                  infowindow.open(map, marker);
              });
              infowindow.open(map, marker);
          };
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.key-api }}&callback=initMap" async defer ></script>
  </div>

</section>
