<!-- Events Section -->
<section class="site-section events-section">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Events Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.data.events.title }}</h1>
        <hr class="normal">
      </header>

      <!-- Events Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {% if site.data.events.description != null %} {{ site.data.events.description }} {% endif %}
      </div>

    </div>

    <!-- Events Tables Container -->
    <div class="row events-tables-container">
      <div class="events-tables-wrapper clearfix">

        {% for event in site.data.events.events-list %}

        <!-- Events Table -->
        <div class="col-md-3 col-md-push-0 col-sm-4 col-sm-push-0 col-xs-8 col-xs-push-2" itemscope itemtype="http://schema.org/Event">
          <div class="events-table">

            <!-- Event Content -->
            <div class="event-content">
              <span>Wann</span>
              <p class="event-date">{{ event.event-date }}</p>
              <meta itemprop="name" content="CoderDojo Wien @ VERBUND" />
              <meta itemprop="startDate" content="{{event.event-startdate}}" />
              <meta itemprop="endDate" content="{{event.event-enddate}}" />
              <meta itemprop="typicalAgeRange" content="7-17" />
              <meta itemprop="duration" content="PT2H" />
              <meta itemprop="description" content="{{site.description}}" />
              <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                <meta itemprop="name" content="{{ event.event-placename }}" />
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <meta itemprop="streetAddress" content="Am Hof 6a" />
                  <meta itemprop="addressLocality" content="Wien" />
                  <meta itemprop="postalCode" content="1010" />
                  <meta itemprop="addressCountry" conent="AT" />

                </div>
              </div>
              <hr class="normal">
              <span>Uhrzeit</span>
              <p class="event-time">{{ event.event-time }}</p>
              <hr class="normal">
              <span>Wo</span>
              <p class="event-place">{{ event.event-place }}</p>
            </div>

            <!-- Event Registration -->
            <div class="event-registration">
              <a href="{{ event.event-registration-url }}" target="_blank" class="button">Anmelden</a>
            </div>

          </div>
        </div>

        {% endfor %}

  </div>
</section>

<section class="event-location site-section next-section-indicator" id="main-event-place-map">

  <!-- Google Map Embed -->
  <div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.key-api }}"></script>
    <div style="overflow:hidden;height:490px;width:100%;">
        <div id="gmap_canvas" style="height:490px;width:100%;"></div>
    </div>
    <script type="text/javascript">
        function init_map() {
            var myOptions = {
                zoom: 16,
                scrollwheel: false,
                center: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} ),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng( {{ site.map-lat }}, {{ site.map-lng }} )
            });
            infowindow = new google.maps.InfoWindow({
                content: "<span><strong>{{ site.map-text }}</strong><br>{{ site.map-text-location }}<br><span>"
            });
            google.maps.event.addListener(marker, "click", function() {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, "load", init_map);
    </script>

  </div>

</section>