<!-- Exercise Section -->
<section class="site-section exercises-section">

  <div class="container">

    <!-- Section Heading -->
    <div class="row"> 

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.data.exercises.exercises-title }}</h1>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {% if site.data.exercises.exercises-description != null %} {{ site.data.exercises.exercises-description }} {% endif %}
      </div>
       
    </div>

    <!-- Menu -->
    <div class="row text-center exercises-menu">
      {% assign technologies = site.data.exercises.technologies | sort: 'sort-title' %}
      {% for technology in technologies %}
        <a href="{{ site.baseurl }}/exercises/#{{ technology.id }}" class="button-cta button-focus col-lg-1 col-lg-push-1 col-md-1 col-md-push-1 col-xs-8 col-xs-push-2">{{ technology.title }}</a>
      {% endfor %}
    </div>

  </div>

  {% for technology in technologies %}
  
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
      {% assign section-focus-class = 'section-focus' %}
    {% else %}
      {% assign section-focus-class = null %}
    {% endif %}
    
    <section class="site-section about-section next-section-indicator exercise-section {{section-focus-class}}" id="{{ technology.id }}">
      <div class="container">
    
        <!-- Section Heading -->
        <div class="row">
    
          <!-- Section Header -->
          <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
            <h2>{{ technology.title }}</h2>
            <hr class="normal">
          </header>
    
          <!-- Section Content -->
          <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
            {{ technology.description }}
            {% assign exercises = technology.exercises | sort: 'name' %}
            {% if exercises %}
              <ul>
                {% for exercise in exercises %}
                  <li><a target="_blank" href="{{ exercise.url }}" >{{ exercise.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
    
        </div>
    
      </div>
    </section>
  
  {% endfor %}

</section>