<!-- Exercise Section -->
<section class="site-section exercises-section" id="exercises">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.data.exercises.exercises-title }}</h1>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {% if site.data.exercises.exercises-description != null %} {{ site.data.exercises.exercises-description }} {% endif %}

        {% for technology in site.data.exercises.technologies %}
            <a href="{{ site.baseurl }}/exercises/#{{ technology.id }}" class="button-cta button-focus">{{ technology.title }}</a>
        {% endfor %}
      </div>
       
    </div>

  </div>
</section>

{% for technology in site.data.exercises.technologies %}

{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
{% if thecycle == 'odd' %}
  {% assign section-focus-class = 'section-focus' %}
{% else %}
  {% assign section-focus-class = null %}
{% endif %}

<section class="site-section about-section next-section-indicator {{section-focus-class}}" id="{{ technology.id }}">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ technology.title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {{ technology.description }}
        {% if technology.exercises %}
          <ul>
            {% for exercise in technology.exercises %}
              <li><a target="_blank" href="{{ exercise.url }}" >{{ exercise.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>

  </div>
</section>

{% endfor %}