<section class="site-section">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.data.hackathon.title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {{ site.data.hackathon.description }}
      </div>

    </div>

  </div>
</section>

<section class="site-section next-section-indicator section-focus">
    <div class="container">
  
      <!-- Section Heading -->
      <div class="row">
  
        <!-- Section Header -->
        <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
          <h2>{{ site.data.hackathon.timeline-title }}</h2>
          <hr class="normal">
        </header>
  
        <!-- Section Content -->
        <div class="col-md-8 col-md-push-2 col-sm-12 section-content hackathon-timeline">
          {{ site.data.hackathon.timeline }}
        </div>
          
      </div>
  
    </div>
  </section>
  
  <section class="site-section next-section-indicator sponsors-section">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.data.hackathon.sponsor-title }}</h2>
        <hr class="normal">
      </header>
    
    </div>
    
    <!-- Section Content -->
    <div class="row">
      <!-- <div class="clearfix"> -->
        
        {% for sponsor in site.data.hackathon.sponsors-list %}
        
        <div class="col-md-3 col-md-push-1 col-sm-8 col-sm-push-2 col-xs-8 col-xs-push-2">
          {{ sponsor.link }}
        </div>
        
        {% endfor %}
      
      <!-- </div> -->
    
    </div>

  </div>
</section>
