<!-- About Section -->
<section id="imprint" class="site-section next-section-indicator">
  <div class="container">

      <!-- Owner content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content section-owner">
        {{ site.data.imprint.owner-content }}
      </div>

      <!--googleoff: all-->

      <!-- Data protection content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {{ site.data.imprint.dataprotection-content }}
      </div>

      <!--googleon: all-->

    </div>
  </div>
</section>
