<!-- Team Section -->
<section class="site-section team-section section-focus next-section-indicator" id="team">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h1>{{ site.team-title }}</h1>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        {{ site.team-description }}
      </div>

    </div>

    <!-- Team Members -->
    <div class="row team-members-container">

      <!-- Team Members Carousel -->
      <div id="team-members-carousel" class="owl-carousel col-md-12 col-md-push-0 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">

        {% for member in site.data.team %}

        <!-- Member -->
        <div class="col-md-10 col-md-push-1 col-sm-8 col-sm-push-2 col-xs-12 col-xs-push-0">
          <div class="team-member">
            <div class="img-wrapper">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" xml:space="preserve" width="200px">
                <title>Image of {{member.firstname}} {{member.lastname}}</title>
                <defs>
                  <!--defines the shape to use for clipping-->
                  <circle id="circle" cx="100" cy="100" r="100" />
                </defs>
                <clipPath id="clip">
                  <!--creates the clipping mask from the shape-->
                  <use xlink:href="#circle" overflow="visible"></use>
                </clipPath>
                <!--group containing the image with clipping applied-->
                <g clip-path="url(#clip)">
                  <image overflow="visible" width="200" height="200" x:link:alt ="Image of {{member.name}}" xlink:href="{{ site.baseurl }}/images/avatars/{{ member.avatar }}"></image>
                </g>
              </svg>
            </div>
            <div class="team-member-content">
              <h3 class="name">{{ member.firstname }}</h3>
              <h3 class="name">{{ member.lastname }}</h3>
              <h4 class="tagline">{{ member.tagline }}</h4>
              <div class="social-icons">
                <ul class="icons">
                  {% if member.youtube != null %}<li><a href="{{ member.youtube }}" target="_blank"><i class="fi flaticon-youtube"></i></a></li>{% endif %}
                  {% if member.pinterest != null %}<li><a href="{{ member.pinterest }}" target="_blank"><i class="fi flaticon-pinterest"></i></a></li>{% endif %}
                  {% if member.facebook != null %}<li><a href="{{ member.facebook }}" target="_blank"><i class="fi flaticon-facebook"></i></a></li>{% endif %}
                  {% if member.twitter != null %}<li><a href="{{ member.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>{% endif %}
                  {% if member.google-plus != null %}<li><a href="{{ member.google-plus }}" target="_blank"><i class="fi flaticon-google-plus"></i></a></li>{% endif %}
                  {% if member.linkedin != null %}<li><a href="{{ member.linkedin }}" target="_blank"><i class="fi flaticon-linkedin"></i></a></li>{% endif %}
                  {% if member.xing != null %}<li><a href="{{ member.xing }}" target="_blank"><i class="fi flaticon-xing"></i></a></li>{% endif %}
                  {% if member.vimeo != null %}<li><a href="{{ member.vimeo }}" target="_blank"><i class="fi flaticon-vimeo"></i></a></li>{% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
      <!-- End of Team Members Carousel -->

    </div>

  </div>
</section>
