<!-- Google analytics -->
<script>
  window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;

  ga('create', 'UA-90992974-1', 'auto');

  // Begin Autotrack configuration
  ga('require', 'eventTracker');
  ga('require', 'outboundFormTracker')
  ga('require', 'outboundLinkTracker');
  ga('require', 'pageVisibilityTracker')
  ga('require', 'urlChangeTracker');
  // End Autotrack configuration  

  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/js/autotrack.js"></script>