<!-- Importing Scripts -->

<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Owl Carousel -->
<script src="{{ site.baseurl }}/js/carousel.min.js" charset="utf-8" async></script>

<!-- Parallaxing & SmoothScroll -->
<script src="{{ site.baseurl }}/js/smoothscroll.js" charset="utf-8" async></script>
<script src="{{ site.baseurl }}/js/scrollax.min.js" charset="utf-8" async></script>

<!-- Cookieconsent CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" async></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/js/main.js" charset="utf-8" async></script>

<!-- Cookie consent -->
<script defer src="{{ site.baseurl }}/js/cookie-consent.js" charset="utf-8"></script>