<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <img src="{{ site.baseurl }}/images/logo-focus.svg" width="220" alt="CoderDojo Wien" />
        </div>

        <div class="footer-info-text">
          {% if site.data.footer.description != null %}<p>{{ site.data.footer.description }}</p>{% endif %}
        </div>

        <div class="social-icons">
          <ul class="icons">
            {% if site.data.social-links.youtube != null %} <li><a href="{{ site.data.social-links.youtube }}" target="_blank"><i class="fi flaticon-youtube"></i></a></li> {% endif %}
            {% if site.data.social-links.pinterest != null %} <li><a href="{{ site.data.social-links.pinterest }}" target="_blank"><i class="fi flaticon-pinterest"></i></a></li> {% endif %}
            {% if site.data.social-links.facebook != null %} <li><a href="{{ site.data.social-links.facebook }}" target="_blank"><i class="fi flaticon-facebook"></i></a></li> {% endif %}
            {% if site.data.social-links.twitter != null %} <li><a href="{{ site.data.social-links.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li> {% endif %}
            {% if site.data.social-links.google-plus != null %} <li><a href="{{ site.data.social-links.google-plus }}" target="_blank"><i class="fi flaticon-google-plus"></i></a></li> {% endif %}
            {% if site.data.social-links.vimeo != null %} <li><a href="{{ site.data.social-links.vimeo }}" target="_blank"><i class="fi flaticon-vimeo"></i></a></li> {% endif %}
            {% if site.data.social-links.linkedin != null %} <li><a href="{{ site.data.social-links.linkedin }}" target="_blank"><i class="fi flaticon-linkedin"></i></a></li> {% endif %}
            {% if site.data.social-links.xing != null %} <li><a href="{{ site.data.social-links.xing }}" target="_blank"><i class="fi flaticon-xing"></i></a></li> {% endif %}
            {% if site.data.social-links.instagram != null %} <li><a href="{{ site.data.social-links.instagram }}" target="_blank"><i class="fi flaticon-instagram"></i></a></li> {% endif %}
          </ul>
        </div>

      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
        <p>
          {% if site.data.footer.copyright-url != null %}
            <a href="{{ site.data.footer.copyright-url }}">{{ site.data.footer.copyright-text }}</a> {{ site.data.footer.copyright-year }} Copyright
          {% else %}
            {{ site.data.footer.copyright-text }} {{ site.data.footer.copyright-year }}
          {% endif %}
          {% if site.data.footer.imprint-url != null %}
            <a href="{{ site.data.footer.imprint-url }}">{{ site.data.footer.imprint-text }}</a>
          {% endif %}
        </p>
        </div>
      </div>
    </div>

  </div>
</footer>