<!-- Cookieconsent CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<!-- If CDN fails than use local Cookieconsent -->
<script>
    if (window.cookieconsent) {
        document.write('<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />');
    }
    else {
        document.write('<script src="{{ site.baseurl }}/js/cookieconsent.min.js"><\/script>');
        document.write('<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/cookieconsent.min.css" />');
    }
</script>

<!-- Configure Cookie Consent -->
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000000",
                    "text": "#ffffff"
                },
                "button": {
                    "background": "#dc0102"
                }
            },
            "theme": "false",
            "content": {
                "message": "{{ site.cookie-consent-message }}",
                "link": "{{ site.cookie-consent-more-info-message }}",
                "href": "{{ site.cookie-consent-more-info-url }}",
                "dismiss": "{{ site.cookie-consent-dismiss-button-text }}"
            }
        })
    });

</script