section.events-section {

  // Pricing Tables Container
  .events-tables-container {
    margin-top: 100px;

    // Wrapper
    .events-tables-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      margin-bottom: 0.5em;

      // Responsive Media
      @media (max-width: 991px) and (min-width: 400px) {
        display: block;

        .events-table {
          margin-bottom: 30px;
        }
      }

      // Responsive Media
      @media (max-width: 400px) and (min-width: 400px) {
        display: block;

        .col-md-3 {
          width: 100% !important;
          left: 0;
          margin-bottom: 30px;
        }
      }

    }

    // Event Table
    .events-table {
      position: relative;
      border: none;
      text-align: center;
      background: $white;
      transition: all $transition-links $transition-links-type;

      // Event conten
      .event-content {
        padding: 50px 0;
        font-weight: normal;
        border-bottom: none;
        background-color: $light-gray;
        overflow: hidden;
        height: inherit;

          span {
            color: $normal-gray;
            font-size: 1.2rem;
            font-weight: 300;
          }
          .event-date {
            text-transform: uppercase;
            color: $normal-gray;
            font-size: 2.5rem;
          }

          hr.normal {
            width: 60px;
            height: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $white;

            &:after {
              height: 2px;
              background-color: $white;
            }
          }

          hr.separator {
            width: 60px;
            height: 2px;
            margin: 20px auto 40px;
          }

          .event-time {
            font-size: 1.5rem;
            color: $normal-gray;
          }

          p.event-place {

            a {
              font-size: 1.25rem;
              color:  $normal-gray;
              &:active,
              &:hover{
                color: $secondary;
              }
            }

        }
      }

      // Event Registration
      .event-registration {

         .button{
           font-weight: 300;
           background-color: $white;
           border-color: $primary;
           margin-bottom: 20px;
           max-width: 80%;
           color: $primary;
              &:active,
              &:hover{
                color: $white;
                background-color: $primary;
              }
         }

        background-color: $light-gray;
        padding-bottom: 1em;
      }
      
    }

  }
}

section.event-location {
    padding: 0;
}
