/**
 *
 *  Header Style
 *
 *  @package gleesik_layout
 *
 **/

header.site-header {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  z-index: 1;

  // Blog Header
  &.blog-header {
    height: 600px;

    .parallax-wrapper {
      height: 600px;
    }

    .container {
      height: 600px;
    }

    .header-banner {
      height: calc(600px - 250px);
    }
  }

  // Parallax-wrapper
  .parallax-wrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    height: 100vh;
    max-height: 1080px;
  }

  // Site Navigation Bar
  .site-navigation-bar {
    position: relative;
    height: 100px;
    min-height: 100px;
    z-index: 2;

    // Logo
    .logo {
      img {
        display: block;
        float: left;
      }
    }

    // Navigation Bar
    .navigation-bar {

      nav.nav-menu {
        position: relative;
        display: block;
        float: right;

        ul {
          li {
            float: left;
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }

            &.current-menu-item {
              a {
                background-color: $primary;
                position: relative;
              }
            }

            a {
              display: block;
              color: $white;
              padding: 10px 12px;

              &:hover,
              &:active {
                background-color: $primary;
              }

            }
          }
        }
      }
    }

  }

  // Site Header Banner
  .header-banner {
    height: calc(100vh - 250px);
    max-height: calc(1080px - 250px);
    z-index: 2;
    color: $primary;

    .heading-content {
      width: 100%;
      text-transform: uppercase;

      .heading-title {
        hr.small {
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }

      .buttons-header {
        margin-top: 40px;

        .button-cta {
          width: 100%;
        }
      }
    }
  }
}
