section.team-section {

  // Team Members Container
  .team-members-container {
    margin-top: 80px;
    display:flex;
    justify-content: center;
    text-align: center;

    @media (max-width: 630px) {
        width: 100%;
        display: inline;
        justify-content: flex-start;
      }

    .col-md-3 {
      @media (max-width: 600px) and (min-width: 430px) {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
      }

      @media (max-width: 430px) {
        width: 100%;
      }
    }

    // Member
    .team-member {
      margin-bottom: 30px;
      transition: all $transition-links $transition-links-type;

      .img-wrapper {
        display: block;
        position: relative;
        overflow: hidden;

      }

      .team-member-content {
        padding: 30px 30px 20px 30px;

        h3.name {
          font-size: 1.1rem;
          line-height: 1.4;
          color: $dark-gray;
          text-transform: uppercase;
          margin-bottom: 5px;
          text-align: center;

           @media (max-width: 430px) {
            font-size: 0.8rem;
          }
        }
        
        h4.tagline {
          font-size: 1.2rem;
          text-align: center;
          
           @media (max-width: 430px) {
            font-size: 0.7rem;
          }
        }

        .social-icons {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          margin-top: 30px;

          @media (max-width: 430px) {
            display: none !important;
          }

          .icons {
            display: inline-block;

            li {
              margin-bottom: 10px;

              a {
                color: $global-text;

                &:hover,
                &:active {
                  color: $primary;
                }
              }
            }
          }
        }
      }     
    }

    .owl-pagination {
        @media (max-width: 430px) {
          display: none !important;
        }
    }
  }
}
