// Theme Colors
$red: #DC0102;
$green: #2ecc71;

// Global Pallete
$white: #fff;
$black: #000;
$black-transparent:  rgba($black, 0.9);
$light-blue: #f4f8f9;

// Primary & Secondary
$primary: $red;
$secondary: #574F4F;

// Gray Pallete
$text-gray: #848484;
$light-gray: #f4f4f4;
$simple-gray: #d9dadb;
$normal-gray: #464646;
$dark-gray: #0E0E0E;

// Global Text Color
$global-text: darken($text-gray, 15%);

// Background Color
$background-color: $white;

// Sections Colors
$section-bg: $white;
$section-focus: $light-blue;

// Footer Colors
$footer-color: $text-gray;
$footer-background-color: $dark-gray;

// Sidebar Colors [Widgets]
$sidebar-header: $light-blue;
$sidebar-title: $secondary;
